.siginpage{ margin:10% auto; width:100%;  }
.centerContent{ width:100%; }
.signOut{ margin:20px; text-align: right; cursor: pointer;}
.signOut>a>img{vertical-align: middle;}
.signOut>button{background-color: #1b95e0; color:#fff; border:none; cursor: pointer;}
.signOut>button>img{vertical-align: middle;}
.selfCenter{ margin:20px auto; width:94%; border:5px solid #55acee; }
@media only screen and (min-width: 769px) {
  .siginpage{ width:60%;}  
  .selfCenter{ width:60%; padding:2%; }
  .siginpage .selfCenter{ padding:10%; }
}